body {
    background: var(--Gradient);
    min-height: 100vh;
    height: fit-content;

    box-sizing: border-box;
    padding: 32px;
}

h2 {
    color: var(--white)
}

h3 {
    color: var(--blue);
}

li {
    font-family: e-Ukraine;
    font-size: 1rem; /* 18px */
    font-weight: 100; 
    line-height: 28px;
}

li.locked {
   color: lightslategray;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    padding-bottom: 24px;
}

#pricing .card {
    background-color: var(--white);
    color: var(--black);
    flex-basis: calc(33.333% - 20px); /* Adjust the spacing between the services */
    padding: 48px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 400px;
    flex: 1;
    min-width: 400px;
  }

  #pricing .card:hover {
    background-color: rgb(247, 246, 209);
  }

  #pricing .card > * {
    margin: 0; 
  }

  .card_header {
    display: flex;
    align-items: center; 
    gap: 8px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  #plan-price {
    padding-top: 8px; /* Reduced padding on top */
    padding-bottom: 0; /* Removed padding on bottom */
  }

  ul {
    padding-left: 16px;
  }

  #pricing button {
    color: var(--blue);
    background-color: var(--light-blue);
    border: 0px;
    border-radius: 40px;
    padding: 14px 40px;
    margin-top: 24px !important;
    max-width: 320px;
  }

  #plan-price span {
    font-size: small ;
    color: lightslategray;
  }

  #pricing > a {
    position: absolute;
    top: 8px;
    left: 8px;
    height: 32px;
  }

